{% extends 'admin/index.html' %}
{% load static %}
{% block content %}

<style>
    .top__Heading
    {
        padding: 2rem 0rem;
    }
    .top__Heading h2{
        font-weight: 600;
    }
    .logo__img img
    {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .log_head
    {
      
        font-size: 0.85rem;
        padding: 0.80rem;
        padding-left: 1rem;
    }
    .log__Box
    {
        width: 80px;
        height: 80px;
    }
    .log__Box img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .remove_btn
    {
        font-size: 0.90rem;
        font-weight: 600;
        float: right;
        margin-right: 0.50rem;
    }
</style>

<div class="top__Heading ">
    <h2>Clients List</h2>
</div>

    <div class="row">
        {% for client in clients %}
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card p-1">
                <div class="row">
                    <div class="col-sm-4 col-md-2 col-lg-3 logo__img">
                        {% if client.client_image %}
                    <div class="log__Box">
                        <img src="{{client.client_image.url}}" alt="#">
                    </div>
                       
                        {% endif %}
                        
                    </div>
                    <div class="col-sm-8 col-md-10 col-lg-9">
                        <p class="log_head">{{client.client_name}}</p>
                        <a href="{% url 'client_remove' client.id %}" class="remove_btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove"> 
                            <i class="bi bi-recycle"> remove</i>
                       </a>
                        <a href="{% url 'client_edit' client.id %}" class="remove_btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"> 
                             <i class="bi bi-pencil-square"> edit</i>
                        </a>
                    </div>
                </div>
            </div>  
        </div>
        {% endfor %}
    </div>


<style>
    /* Modal Styles */
    .modal {
      display: block;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      
    }

    .modal-content {
      margin: 10% auto;
      width: 275px;
      font-size: 0.90rem;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding: 1rem 1.2rem;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
      font-weight: 500;
      
    }
  
    .close {
      color: #bc3333;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }

    .close:hover,
    .close:focus {
      color: rgb(234, 46, 46);
      text-decoration: none;
      cursor: pointer;
    }
    @media (max-width:575px)
    {
        .modal-content 
        {
            margin: 50% auto;
        }
    }
</style>

{% if msg %}
<div id="myModal" class="modal">
    <div class="modal-content">
      <p><span>{{ msg }}</span></p>
      <p><span class="close">&times;</span></p>
    </div>
</div>
{% endif %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
  // Close the modal
    function closeModal() {
      var modal = document.getElementById('myModal');
      modal.style.display = 'none';
    }

    // Close the modal when the close button is clicked
    var closeBtn = document.getElementsByClassName('close')[0];
    closeBtn.addEventListener('click', closeModal);
  </script>

{% endblock %}