{% extends 'admin/index.html' %}
{% load static %}
{% block content %}



<style>
    input[type=text],input[type=date],input[type=time],textarea
    {
        width: 100%;
    }
    .categorie .section__form
    {
        padding: 2rem 0.05rem;
    }
    .categorie .form__head
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .form__head h2{
        font-size: 2rem;
        font-weight: 700;
    }
    .form__head button{
        padding: 0.40rem 4rem;
        background-color: rgb(134, 46, 156);
        color: #ffff;
        font-weight: 700;
        border-radius:5px;
        font-size: 0.90rem;
        letter-spacing: 0.06rem;
        border: none;
        outline:none;
    }
    .input__section, .date__inputBox
    {
        margin-top: 1.5rem;
    }
    .input__section .card
    {
        padding: 1.5rem 1rem;
    }
    .card__head h5{
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.06rem;
    }
    
    .input__group
    {
        margin-top: 1rem;
    }
    .input__group label
    {
        margin-bottom: 0.40rem;
        font-weight:600;
        font-size: 0.88rem;
    }
    .input__group input, .input__group textarea
    {
        padding: 0.50rem;
        font-size: 0.80rem;
        border: 1px solid #ecebeb;
    }
    .input__group textarea
    {
        height: 250px;
    }
    .input__group input:focus,  .input__group textarea:focus
    {
        border: 1px solid #bad2df;
        outline:1px solid #bad2df ;
    }
    .input__group input::placeholder
    {
        font-size: 0.80rem;
    }
    .categeri__Box .image__Box
    {
        width: 100%;
        height: 300px;
        border: 1px solid #ecebeb;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    .image__Box img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    @media (max-width:575px)
    {
        .form__head
        {
            flex-direction: column;
            justify-content: center;
        }
        .form__head h2
        {
            font-size: 1.8rem;
            
        }
        .form__head button{
            width: 100%;
            margin-top: 0.70rem;
        }
    }
</style>

<section class="section categorie">
    <div class="container">
        <form class="section__form" action="{% url 'testimonial_edit_save' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__head">
                <h2>Testimonial Edit</h2>
                <button type="submit" id="">Save</button>
            </div>
            <div class="input__section">
                
                
                <div class="card">
                    <div class="card__head">
                        <h5>Basic Informations</h5>
                    </div>
                    <div class="categeri__Box">
                        <div class="input__group">
                            <label> Name</label>
                            <input type="text" name="testi_name" value="{{testimonial.testimonial_name}}" required>
                            <input type="text" name="testi_id" value="{{testimonial.id}}" hidden>
                        </div>
                        <div class="input__group">
                            <label>Description</label>
                            <textarea type="text" name="testi_discription" required>{{testimonial.testimonial_discription}}</textarea>
                        </div>
                        <div class="input__group">
                            <label> Image</label>
                            <input type="file" name="testi_img" id="imageInput" accept="image/png, image/jpeg" >
                        </div>
                        <div class="input__group">
                            <div class="image__Box" >
                                
                                <img src="{{testimonial.testimonial_image.url}}" id="img_display">
                            </div>
                        </div>
                        <div class="input__group">
                            <label>Tag</label>
                            <input type="text" name="testi_tag" value="{{testimonial.testimonial_tag}}" required>
                        </div>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
  // Close the modal
    function closeModal() {
      var modal = document.getElementById('myModal');
      modal.style.display = 'none';
    }

    // Close the modal when the close button is clicked
    var closeBtn = document.getElementsByClassName('close')[0];
    closeBtn.addEventListener('click', closeModal);
  </script>

<!-- Categorie Image Preview-->

<script>
    function previewImage(event) {
      var reader = new FileReader();
      reader.onload = function() {
        var imagePreview = document.getElementById('img_display');
        imagePreview.src = reader.result;
      }
      reader.readAsDataURL(event.target.files[0]);
    }

    var imageInput = document.getElementById('imageInput');
    imageInput.addEventListener('change', previewImage);
</script>

{% endblock %}